
{% extends 'blog/base.html' %}

{% block content %}
<script type="text/javascript">

</script>
<style>
.modal {
margin: 0px auto;
position: relative;
/* background: white; */

}

.modal-body {
height:60%;

}
</style>


<div class=container>
  <div class="row justify-content-md-center">
    <div class="col col-lg-12">

      <table class="table table-striped">
        <tr>
          <th>Line Number</th>
          <th>Item Number</th>
          <th>Ordered Qty</th>
        </tr>
        {% for odetail in details %}
        <tr>

                    <td>{{ odetail.linenumber }}</td>
                    <td>{{ odetail.itemnumber }}</td>
                    <td><a data-toggle="modal" data-target="#exampleModal" data-tooltip>{{ odetail.orderedquantity }}</a></td>

        </tr>
      </table>
    </div>
    <!-- Modal -->
  </div>
  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form method="POST" class="form-group">
            <div class="row">
              {% csrf_token %}
              {% for field in form %}
              <div class="form-group">
                <label for="formGroupExampleInput">{{ field.label_tag }}</label>
                <br>
                {{ field }}

              </div>
              {% endfor %}

            </div>
            <button type="submit" class="save btn btn-default">Save</button>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
        </div>
      </div>
    </div>
  </div>


        {% empty %}
            <p>No line items on order.</p>
        {% endfor %}


</div>






{% endblock %}
